.App {
  background-color: rgb(41, 92, 158);
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 965px;
}

.Auth-form {
  width: 70%;
  height: 920px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 1px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  font-size: 40px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.nav {
  background-color: black;
  color: white;
  height: 58px;
  padding: 10px;
}

.title {
  padding-left: 20px;
}

.footer {
  padding: 10px;
  padding-left: 40%;
}

.nav-left {
  position: absolute;
  left: 90%;
}

.log-btn {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.sgn-btn {
  color: rgb(41, 92, 158);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.user {
  position: absolute;
  left: 43%
}

.logout {
  position: absolute;
  left: 75%;
}

.log {
  padding-top: 3%;
}


.lgt {
  background-color: rgb(41, 92, 158);
  margin-left: 30%;
}

.hom {
  background-color: rgb(41, 92, 158);
  padding-top: 5%;
  margin-left: 30%;
}

.brc {
  background-color: rgb(41, 92, 158);
  margin-left: 20%;
}

.com {
  background-color: rgb(41, 92, 158);
  margin-left: 43%;
}

.error {
  color: red;
}

.success {
  color: green;
}

.homeBar {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: rgb(34, 34, 34);
  font-weight: 700;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin-left: 4%;
  padding: 2px;
}

.homeAct {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin-left: 4%;
  padding: 2px;
  background-color: rgb(41, 92, 158);
}

.homeData {
  margin: 5%;
  padding: 5%;
  border-style: solid;
  border-radius: 10px;
}

.workData {
  margin: 3%;
  padding: 4%;
  border-style: solid;
  border-radius: 10px;
}

.work {
  height: 740px;
  overflow-y: scroll;
}

.del-btn {
  padding-left: 1px;
}

.Auth-form-contentt {
  padding-top: 2%;
  padding-left: 20%;

}

.dataAvailable {
  text-align: center;
}

.login-btn {
  margin-top: 3%;
  text-align: center;
}

.spinning {
  margin-top: 20%;
  margin-left: 47%;
  display: flex;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid transparent;
  border-top-color: grey;
  border-bottom-color: grey;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinning:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid grey;
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}